## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
variable =785
print(variable)

785

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print( type(variable))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
vari2="Santos"

5) Crear una variable que contenga un número complejo

In [7]:
vari3= 5 + 3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [12]:
print(type(vari3))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
vari4 ="True"
vari5 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [10]:
print(type(vari4))
print(type(vari5))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [11]:
vari6= 8 + 6.1

11) Realizar una operación de suma de números complejos

In [14]:
vari7 = 3 + 8j + 6 + 2j
print(vari7)

(9+10j)

12) Realizar una operación de suma de un número real y otro complejo

In [15]:
vari8= 5 + 9 - 1j
print (vari8)

(14-1j)

13) Realizar una operación de multiplicación

In [16]:
print(5*3)

15

14) Mostrar el resultado de elevar 2 a la octava potencia

In [17]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [18]:
print(27/4)

6.75

16) De la división anterior solamente mostrar la parte entera

In [19]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [20]:
print (27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [21]:
print(6*4+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [22]:
cadena1="Santos"
cadena2="Alva"
print (cadena1+" "+cadena2)

Santos Alva

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [24]:
"2"==2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [25]:
int("2")==2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [26]:
a=float("3.8")

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [28]:
vari9=3
vari9 -=1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [29]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [31]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [32]:
3=="3"

False